# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
node_modules

# TODO folder.
todo/

# Library.
app/lib/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit tests / coverage reports
htmlcov/

.tox/
*/.coverage
.coverage
*/.coverage.*
.coverage.*
.cache
*/nosetests.xml
nosetests.xml
*/coverage.xml
coverage.xml
*,cover
.hypothesis/
.noseids

# Translations
*.mo
*.pot

# Django stuff:
*.log

# ApiDoc documentation
doc/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Logs folder
logs/

#Ipython Notebook
.ipynb_checkpoints

# Apple OS X operating system file that stores custom attributes of its
# containing folder, such as the position of icons etc.
.DS_Store

# PyCharm stuff.
.idea/*.xml
.idea/**/*.xml
.idea/*.iml
.idea/**/*.iml

#Virtualenv stuff.
.virtualenv/*
venv/


