coverage==4.4.1
enum34==1.1.6
flake8-colors==0.1.6
google-api-python-client==1.6.2
mock==2.0.0
nose==1.3.7
nose-progressive==1.5.1
nose-cov==1.6
nose-leak-detector==0.1.5
nose-parameterized==0.5.0
nose-colorxunit==0.2.0
nose-exclude==0.5.0
pylint
pytest
six==1.10.0
tox==2.7.0
vulture
radon
pycallgraph
sphinx==1.6.3
